{% extends 'index.html' %}
{% load static %}
{% block style %}
  {% comment %} .service-info { max-height: 50px; /* Adjust this as per your design */ overflow: hidden; text-overflow: ellipsis; display: block; }

  .full-info { display: none; } {% endcomment %}
{% endblock style %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add this script to handle Read More functionality -->
<script>
  $(document).ready(function() {
    // Handle Read More / Read Less functionality with sliding effect
    $('.read-more').click(function() {
      var target = $(this).data('target');  // Get target service index
      var info = $('#info-' + target);      // Truncated text
      var fullInfo = $('#full-info-' + target);  // Full content

      // Toggle between showing truncated and full content with a slide effect
      if (info.is(':visible')) {
        info.slideUp();  // Slide up to hide truncated text
        fullInfo.slideDown();  // Slide down to show full content
        $(this).text('Read Less');  // Change button text to "Read Less"
      } else {
        info.slideDown();  // Slide down to show truncated text
        fullInfo.slideUp();  // Slide up to hide full content
        $(this).text('Read More');  // Change button text back to "Read More"
      }
    });
  });
</script>

{% endblock js %}
{% block main %}{% endblock main %}
{% block about %}{% endblock about %}
{% block otherser %}
  <!-- we_do -->
  <section id="other_services" class="service_section layout_padding p-0">
    <div class="we_do">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading_container p-2">
              <h2 class="text-center">Other <span>Services</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="we1" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#we1" data-slide-to="0" class="active"></li>
                <li data-target="#we1" data-slide-to="1"></li>
                <li data-target="#we1" data-slide-to="2"></li>
                <li data-target="#we1" data-slide-to="3"></li>
              </ol>
              
              <div class="carousel-inner">
                {% comment %} {% for s in services %} {% endcomment %}
                <div class="carousel-item active">
                  <div class="container-fluid">
                    <div class="carousel-caption we1_do">
                      <div class="row">
                        {% for s in services %}
                          <div class="col-md-4">
                            <div id="bo_ho" class="we_box text_align_left">
                              <i><img src="{% static s.s_image %}" alt="{{s.sname}}" height="100px" width="100px"/></i>
                              <h3>{{ s.sname }}</h3>
                              <!-- Initial text display -->
                              <p class="service-info" id="info-{{ forloop.counter }}">
                                {{ s.info|truncatewords:20 }} <!-- Truncate content initially -->
                              </p>
            
                              <!-- Full content hidden by default -->
                              <p class="full-info" id="full-info-{{ forloop.counter }}" style="display:none;">
                                {{ s.info }}
                              </p>
            
                              <div class="btn-box">
                                <a href="javascript:void(0);" class="btn2 read-more" data-target="{{ forloop.counter }}">Read More</a>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                {% comment %} {% endfor %} {% endcomment %}
              </div>
            
              <a class="carousel-control-prev" href="#we1" role="button" data-slide="prev">
                <i class="carousel-control-prev-icon" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#we1" role="button" data-slide="next">
                <i class="carousel-control-next-icon" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end we_do -->
{% endblock %}
